# Dictionary methods
## To store data in key: value pairs

In [1]:
info = {
    "name": "Akash",
    "age": 26,
    "dept": "CSE",
    "session": "2018-19",
    "skill": ['Python', 'C++', 'Java', 'MySQL', 'Linux']
}
print(info)
print(len(info))
print(type(info))
print(info['skill'])

{'name': 'Akash', 'age': 26, 'dept': 'CSE', 'session': '2018-19', 'skill': ['Python', 'C++', 'Java', 'MySQL', 'Linux']}
5
<class 'dict'>
['Python', 'C++', 'Java', 'MySQL', 'Linux']

```clear()``` ----	Removes all the elements from the dictionary  
```copy()``` ----	Returns a copy of the dictionary  
```fromkeys()``` ----	Returns a new dictionary with the specified keys and value

In [3]:
# Remeve duplicates using fromkeys()
ls = ['foo', 'foo', 'boo', 'go', 'boo', 'go', 'to', 'foo', 'boo']
print(ls)
unique = list(dict.fromkeys(ls))
print(unique)

['foo', 'foo', 'boo', 'go', 'boo', 'go', 'to', 'foo', 'boo']
['foo', 'boo', 'go', 'to']

In [7]:
info2 = info.copy()
print(info2)
info2.clear()
print(info2)
a = ("fruit", "flower", "animal", "bird")
b = 0
new_d = dict.fromkeys(a, b)
print(new_d)

{'name': 'Akash', 'age': 26, 'dept': 'CSE', 'session': '2018-19', 'skill': ['Python', 'C++', 'Java', 'MySQL', 'Linux']}
{}
{'fruit': 0, 'flower': 0, 'animal': 0, 'bird': 0}

```get()``` ----	Returns the value of the specified key  
```items()``` ----	Returns a list containing a tuple for each key value pair  
```keys()``` ----	Returns a list containing the dictionary's keys  
```values()``` ----	Returns a list of all the values in the dictionary

In [10]:
g = info.get('skill')
print(g)
print("Items: ")
for i in info.items():
    print(i)
print("Kyes: ")
for k in info.keys():
    print(k, end=', ')
print("\nValues: ")
for v in info.values():
    print(v, end=', ')

['Matlab', 'R', 'PHP']
Items:
('name', 'Akash')
('age', 26)
('dept', 'CSE')
('session', '2018-19')
('skill', ['Matlab', 'R', 'PHP'])
Kyes:
name, age, dept, session, skill,
Values:
Akash, 26, CSE, 2018-19, ['Matlab', 'R', 'PHP'],

In [4]:
item = info.items()
info['skill'] = ['Matlab', 'R', 'PHP'] # item gets updated!
print(item)
for k, v in info.items():
    print(k,'=', v)

dict_items([('name', 'Akash'), ('age', 26), ('dept', 'CSE'), ('session', '2018-19'), ('skill', ['Matlab', 'R', 'PHP'])])
name = Akash
age = 26
dept = CSE
session = 2018-19
skill = ['Matlab', 'R', 'PHP']

```pop()``` ----	Removes the element with the specified key  
```popitem()``` ----	Removes the last inserted key-value pair

In [13]:
d = {"name": "Akash", "age": 24, "dept": "EEE", "session": "2016-17"}
print(d)
x = d.pop('age')
print(x)
y = d.popitem()
print(y)
print(d)

{'name': 'Akash', 'age': 24, 'dept': 'EEE', 'session': '2016-17'}
24
('session', '2016-17')
{'name': 'Akash', 'dept': 'EEE'}

```setdefault()``` ----	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value  
```update()``` ----	Updates the dictionary with the specified key-value pairs

In [14]:
d['id'] = 17101233
x = d.setdefault('skill', ['python', 'django', 'mysql'])
print(d)

{'name': 'Akash', 'dept': 'EEE', 'id': 17101233, 'skill': ['python', 'django', 'mysql']}

In [15]:
x = d.setdefault('name', 'Mona')
print(x)

Akash

In [16]:
# update() is used to insert new specified items to the dictionary.
d.update({"dept": "EEE"})
d.update({"address": ("Mount vill", "420 CA", "M45")})
print(d)

{'name': 'Akash', 'dept': 'EEE', 'id': 17101233, 'skill': ['python', 'django', 'mysql'], 'address': ('Mount vill', '420 CA', 'M45')}

### Extra - String format()

In [21]:
n = 21
width = len('{0:b}'.format(n))
for i in range(n+1):
    print("{0:{width}d} {0:{width}o} {0:{width}X} {0:{width}b}".format(i, width=width))

    0     0     0     0
    1     1     1     1
    2     2     2    10
    3     3     3    11
    4     4     4   100
    5     5     5   101
    6     6     6   110
    7     7     7   111
    8    10     8  1000
    9    11     9  1001
   10    12     A  1010
   11    13     B  1011
   12    14     C  1100
   13    15     D  1101
   14    16     E  1110
   15    17     F  1111
   16    20    10 10000
   17    21    11 10001
   18    22    12 10010
   19    23    13 10011
   20    24    14 10100
   21    25    15 10101