# Tuple methods in python  
### with uses.

### Tuple items are ordered, unchangeable, and allow duplicate values.

In [1]:
# count()	Returns the number of times a specified value occurs in a tuple

tpl = (1, 2, 3, 4, 5, 2, 3, 3, 4, 5, 1, 4, 5)
for x in [1, 2, 3, 4, 5]:
    p = tpl.count(x)
    print(x, 'found', p, 'times')

1 found 2 times
2 found 2 times
3 found 3 times
4 found 3 times
5 found 3 times

In [4]:
# index()	Searches pisition for a specified value int the tuple

x = tpl.index(3)
print(x)
# x = tpl.index(10)  -- raises an exception as value not found.
print(x)
# to print tuple length.
print(len(tpl))

2
2
13

In [6]:
# To change the value of a tuple, first convert it into list and change the value.
t = ("apple", "banana", "orange", "cat", "mango")
print(t)
l = list(t)
l[3] = "Lychee"
l.append("Strawberry")
t = tuple(l)
print(t)

('apple', 'banana', 'orange', 'cat', 'mango')
('apple', 'banana', 'orange', 'Lychee', 'mango', 'Strawberry')

#### To extract the values back into variables. This is called "unpacking":

In [10]:
tpl = (2, 3, 6)
(a, b, c) = tpl
print(a, b, c)
tpl = (8, 3, 7, 2, 1, 4, 3, 4, 99)
(a, *b, c) = tpl
print(a)
print(b)
print(c)

2 3 6
8
[3, 7, 2, 1, 4, 3, 4]
99

In [13]:
# Touble join and multiplying....

t1 = ('cat', 'dog', 'cow', 'goat')
t2 = ('fish', 'meat', 'straw', 'leaf')
t_join = t1 + t2
print(t_join)
t_multi = t1 * 2
print(t_multi)

('cat', 'dog', 'cow', 'goat', 'fish', 'meat', 'straw', 'leaf')
('cat', 'dog', 'cow', 'goat', 'cat', 'dog', 'cow', 'goat')